meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="initial-scale=1")
meta(name="format-detection", content="telephone=no")
<!-- meta(name="viewport", content="width=1200") -->
<!-- meta(name="viewport", content="initial-scale=1, user-scalable=no") -->
link(rel="stylesheet", href="css/screen.css")
